# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\飞宝智能\zyq\nettytest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
